@media (min-width: 400px) {
    html,body {
        background: url("../img/background.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: #ecf0f1 !important;
    }
}
@media (max-width: 400px) {
  html,body {
      background: url("../img/background-mobile.png") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-color: #ecf0f1 !important;
  }
  h1 {
    font-size: 24pt !important;
  }
  h5 {
    font-size: 12pt !important;
  }
}
#header {
    display: none;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 40px;
}
.footer {
    border-top: 2px solid;
    border-top-color: #ffaf38;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #1f5269;
}
.container .text-muted {
    margin: 10px 0;
    color: white;
}
